<!--
*
* public/views/pages/index.ejs
*
-->

<%- include ../partials/header.ejs %>

<h1 id="pong-title">Pong</h1>
<a href="/start" id="start-btn">Start</a>

<div id="created">Created by Jaden Dessureault</div>

<%- include ../partials/footer.ejs %>