<!--
*
* public/views/partials/footer.ejs
*
-->

    <!-- Reference the Player class -->
    <script src="js/classes/Game.js"></script>
    <script src="js/classes/Player.js"></script>
    <script src="js/classes/Ball.js"></script>
    <script src="js/classes/Paddle.js"></script>

    <!-- Reference client-side socket.io -->
    <script src="js/socket.io.js"></script>

    <!-- Reference general functions -->
    <script src="js/main.js"></script>
    
    <script src="js/p5.js"></script>
    <script src="js/sketch.js"></script>
  </body>
</html>