<!--
*
* public/views/partials/header.ejs
*
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pong</title>

    <!-- Mobile specific meta tags -->
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Import the stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>